*{
    padding:0;
    margin:0;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:lavender;
    height:100vh;
}
.container .form{
    width: 300px;
    border-style: solid;
    padding: 20px;
    border-radius: 15px;
    background-color:lightblue;
}
.container .form .radio{
    padding: 10px;
}
.container .form .submit{
    display: flex;
    width:100%;
   
}
.container .form .submit #submit{
    height:25px;
    width:100px;
}
.container .form .out{
    padding:10px;
}

