*{
    margin: 0;
    padding:0;
}
.cont{
    justify-content: center;
    align-items: center;
    height:100vh;
    display: flex;
}
.count{
    
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 20px;
    border-radius: 10px;
}
button{
    width:40px;
    height:40px;
    border-radius: 50%;
    border: none;
    font-size: 25px;
    cursor: pointer;
}
p{
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn .minus{
    margin-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.btn .plus{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}